.stellar-button {
  @extend .medium;
  border: none;
  border-radius: $border-radius;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 $grid-unit;
  height: $grid-unit * 3;
  line-height: 14px;
  user-select: none;
  cursor: pointer;
  position: relative;
  &.stellar-button--no-text {
    width: $grid-unit * 4;
  }
  &.stellar-button--icon {
    padding: 0 $grid-unit;
  }
}

.stellar-button--icon {
  border: none;
  background: transparent;
  color: $gray100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover:not([disabled]) {
    background: red; // TODO
    color: $gray50;
  }
  & span {
    margin-right: calc($grid-unit / 2);
    display: inline-flex;
    align-items: center;
  }
  &.stellar-button--no-text {
    border-radius: 50%;
    & span {
      margin-right: 0;
    }
  }
}

.stellar-button--dark {
  /* variant styles */
  &.stellar-button--primary {
    background: var(--stellar-color--dark--primary);
    color: $gray10;
    &:hover:not([disabled]) {
      background: var(--stellar-color--dark--primary--hover);
    }
  }
  &.stellar-button--secondary {
    background: var(--stellar-color--gray70);
    color: rgba(255, 255, 255, 0.96); // TODO replace with variable
    border: none;
    &:hover:not([disabled]) {
      background: var(--stellar-color--gray60);
    }
  }
}

.stellar-button--light {
  /* variant styles */
  &.stellar-button--primary {
    background: var(--stellar-color--light--primary);
    color: var(--stellar-color--gray10);
    &:hover:not([disabled]) {
      background: var(--stellar-color--light--primary--hover);
    }
  }
  &.stellar-button--secondary {
    background: var(--stellar-color--gray10);
    color: var(--stellar-color--gray100);
    border: 1px solid var(--stellar-color--gray30); // TODO what should this be?
    &:hover:not([disabled]) {
      background: var(--stellar-color--gray20);
    }
  }
}
