.button {
  @extend .medium;
  border: none;
  border-radius: $border-radius;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 $grid-unit;
  height: $grid-unit * 3;
  line-height: 14px;
  user-select: none;
  cursor: pointer;
  position: relative;
  &.button--no-text {
    width: $grid-unit * 4;
  }
  &.button--icon {
    padding: 0 $grid-unit;
  }
}

/* variant styles */
.button--primary {
  background: var(--stellar-color--primary);
  color: $gray10;
  &:hover:not([disabled]) {
    background: var(--stellar-color--primary--hover);
  }
}
.button--secondary {
  background: $gray10;
  color: $gray100;
  border: 1px solid $gray30; // TODO what should this be?
  &:hover:not([disabled]) {
    background: $gray20;
  }
}
.button--icon {
  border: none;
  background: transparent;
  color: $gray100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover:not([disabled]) {
    background: red; // TODO
    color: $gray50;
  }
  & span {
    margin-right: calc($grid-unit / 2);
    display: inline-flex;
    align-items: center;
  }
  &.button--no-text {
    border-radius: 50%;
    & span {
      margin-right: 0;
    }
  }
}
