.st-button {
  &.st-react-button-icon {
    padding: 0 calc(var(--st-grid-unit) / 2);
    display: inline-flex;
    justify-content: center;
    background: transparent;
    color: var(
      --st-gray-80
    ); // TODO hook up to custom react css variables? Or base stellar? Depends on font vs svg icons

    &.large {
      width: var(--st-grid-unit4x);
      height: var(--st-grid-unit4x);
    }

    &:hover {
      &:not([disabled]) {
        background-color: var(--st-button-secondary-hover-background-color);
      }
    }
  }
}
