.st-react-dropdown {
  display: flex;
  gap: calc(var(--st-grid-unit) / 2);
  flex-direction: column;

  .st-react-dropdown--label {
    color: var(--st-gray-60);
  }

  .st-react-dropdown--inner-label {
    color: var(--st-gray-60);
  }

  .st-react-dropdown--rs__control {
    background: var(--st-white);
    border: 1px solid var(--st-gray-20);
    cursor: pointer;
    min-height: calc(var(--st-grid-unit) * 3);
    transition: none;
  }

  .st-react-dropdown--rs__control:hover {
    background: var(--st-gray-10);
    border: 1px solid var(--st-gray-20);
  }

  .st-react-dropdown--rs__control--menu-is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .st-react-dropdown--rs__option,
  .st-react-dropdown--rs__input-container,
  .st-react-dropdown--rs__input-container input,
  .st-react-dropdown--rs__single-value,
  .st-react-dropdown--rs__menu-notice--no-options,
  .st-react-dropdown--rs__placeholder {
    font-family: var(--st-react-dropdown-font-family);
    font-size: var(--st-react-dropdown-font-size);
    font-weight: var(--st-react-dropdown-font-weight);
    height: var(--st-react-dropdown-height);
    letter-spacing: var(--st-react-dropdown-letter-spacing) !important;
    line-height: var(--st-select-line-height);
    color: var(--st-react-dropdown-value-color);
  }

  .st-react-dropdown--rs__placeholder {
    margin: 0;
    color: var(--st-gray-50);
  }

  // .st-react-dropdown--rs__input {
  //   color: gray40;
  // }

  .st-react-dropdown--rs__menu {
    background-color: var(--st-white);
    border: 1px solid var(--st-gray-20);
    border-top: none;
    box-shadow: none;
    margin: -2px 0 0;
    border-radius: 0 0 4px 4px;
    z-index: 4;
  }

  /* lighten the scrollbars */
  // .st-react-dropdown--rs__menu-list::-webkit-scrollbar-thumb {
  //   background: gray60;
  // }
  // .st-react-dropdown--rs__menu-list::-webkit-scrollbar-thumb:hover {
  //   background: gray50;
  // }
  // .st-react-dropdown--rs__menu-list {
  //   scrollbar-color: gray60 transparent;
  // }

  .st-react-dropdown--rs__menu-list {
    padding: 0;
    padding-bottom: 4px;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
    max-height: 310px !important;
  }

  .st-react-dropdown--rs__menu-notice--no-options {
    color: var(--st-gray-50);
    cursor: default;
  }

  .st-react-dropdown--rs__single-value {
    margin: 0 !important;
  }

  .st-react-dropdown--rs__indicator-separator {
    display: none;
  }

  .st-react-dropdown--rs__indicator {
    padding: 0 var(--st-grid-unit) !important;
    color: inherit !important;
  }

  .st-react-dropdown--rs__indicator:hover {
    color: inherit !important;
  }

  .st-react-dropdown--rs__indicator svg {
    width: calc(var(--st-grid-unit) * 2);
    height: calc(var(--st-grid-unit) * 2);
    color: var(--st-gray-60);
  }

  .st-react-dropdown--rs__value-container {
    padding: 0 var(--st-grid-unit) !important;
  }

  .st-react-dropdown--rs__input-container {
    display: flex;
    color: var(--st-gray-80);
    margin: 0;
  }

  .st-react-dropdown--rs__control--is-focused {
    box-shadow: 0px 0px 0px 1px #4d90fe;
  }

  .st-react-dropdown--rs__control--is-focused + .st-react-dropdown--rs__menu {
    box-shadow: 0px 1px 0px 0px #4d90fe, 1px 0px 0px 0px #4d90fe,
      -1px 0px 0px 0px #4d90fe;
  }

  .st-react-dropdown--rs__option {
    cursor: pointer;
    margin: 0px 4px;
    width: calc(100% - 8px);
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .st-react-dropdown--rs__option--is-focused,
  .st-react-dropdown--rs__option--is-focused.st-react-dropdown--rs__option--is-focused,
  .st-react-dropdown--rs__option:hover,
  .st-react-dropdown--rs__option:focus {
    background: var(--st-gray-15);
  }

  .st-react-dropdown--rs__option--is-disabled {
    color: var(--st-gray-50);
    cursor: not-allowed;
  }

  .st-react-dropdown--rs__option--is-selected {
    background: inherit;
    font-weight: 600;
  }

  .st-react-dropdown--rs__option--is-active,
  .st-react-dropdown--rs__option:active {
    background: inherit;
  }

  .st-react-dropdown--clear-indicator {
    border-radius: 4px;
    display: flex;
    color: var(--st-gray-60);
  }

  .st-react-dropdown--clear-indicator:hover {
    color: var(--st-gray-100);
  }

  .st-react-dropdown--rs__multi-value {
    margin: 0;
    margin-right: calc(var(--st-grid-unit) / 2);
    height: 18px;
    background: var(--st-gray-20);
  }

  .st-react-dropdown--rs__multi-value__label {
    font-family: var(--st-react-dropdown-font-family);
    font-size: var(--st-react-dropdown-font-size);
    font-weight: var(--st-react-dropdown-font-weight);
    height: var(--st-react-dropdown-height);
    letter-spacing: var(--st-react-dropdown-letter-spacing) !important;
    color: var(--st-react-dropdown-value-color);
    line-height: 12px;
  }

  .st-react-dropdown--rs__multi-value__remove {
    width: 18px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
