.st-react-error {
  font-family: var(--st-react-error-font-family);
  font-weight: var(--st-react-error-font-weight);
  font-size: var(--st-react-error-font-size);
  line-height: var(--st-react-error-line-height);
  letter-spacing: var(--st-react-error-letter-spacing);
  color: var(--st-react-error-color);
  display: flex;
  gap: var(--st-react-error-spacing);
}
