.st-react-input {
  .st-react-input--container {
    font-family: var(--st-input-font-family);
    font-size: var(--st-input-font-size);
    font-weight: var(--st-input-font-weight);
    line-height: var(--st-input-line-height);
    letter-spacing: var(--st-input-letter-spacing);
    background-color: var(--st-input-background-color);
    border: var(--st-input-border);
    border-radius: 4px;
    color: var(--st-input-color);
    padding: var(--st-input-padding);
    display: flex;
    gap: 0.5em;

    .st-react-input--adornment {
      display: flex;
    }

    input.st-react-input--input {
      border: none;
      outline: none;
      width: 100%;
      padding: 0;
    }
  }
}
