.stellar-multiselect {
  display: flex;
  align-items: center;
  border-radius: var(--stellar-layout--borderRadius);
  position: relative;
}

.stellar-multiselect--background {
  pointer-events: none;
  border-radius: var(--stellar-layout--borderRadius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.stellar-multiselect--light {
  background: var(--stellar-color--gray10);
  & .stellar-multiselect--background {
    border: 1px solid var(--stellar-color--gray20);
  }

  & .stellar-multiselect--option {
    border: 1px solid var(--stellar-color--gray10);
  }

  & .stellar-multiselect--optionText {
    color: var(--stellar-color--gray60);
    opacity: 80%;
  }

  & .stellar-multiselect--option--selected {
    border: 1px solid var(--stellar-color--gray20);
    background-color: white;

    & .stellar-multiselect--optionText {
      color: var(--stellar-color--gray80);
      opacity: 100%;
    }
  }
}

.stellar-multiselect--dark {
  background: var(--stellar-color--gray90);
  & .stellar-multiselect--background {
    border: 1px solid var(--stellar-color--gray70);
  }

  & .stellar-multiselect--option {
    border: 1px solid var(--stellar-color--gray90);
  }

  & .stellar-multiselect--optionText {
    color: var(--stellar-color--gray10);
    opacity: 80%;
  }

  & .stellar-multiselect--option--selected {
    border: 1px solid var(--stellar-color--gray70);
    background-color: var(--stellar-color--gray60);

    & .stellar-multiselect--optionText {
      color: var(--stellar-color--gray10);
      opacity: 100%;
    }
  }
}

.stellar-multiselect--medium .stellar-multiselect--option {
  height: var(--stellar-layout--gridUnit3x);
}

.stellar-multiselect--large .stellar-multiselect--option {
  height: var(--stellar-layout--gridUnit4x);
}

.stellar-multiselect--option {
  border-radius: var(--stellar-layout--borderRadius);
  background: none;
  padding: 0px var(--stellar-layout--gridUnit);
  flex: 1;
  cursor: pointer;

  &:focus {
    z-index: 1;
  }
}

.stellar-multiselect--optionText {
  @extend .stellar-typography--medium;
  text-align: center;
  padding: 0px var(--stellar-layout--gridUnit2x);
  white-space: nowrap;
}
