.st-react-popover {
  background: var(--st-react-popover-background);
  border-radius: var(--st-react-popover-border-radius);
  border: var(--st-react-popover-border);
  padding: var(--st-react-popover-padding);
  filter: var(--st-react-popover-filter);
}
