// Color Styles from Figma
// https://www.figma.com/file/a696svN2S7YNlZRYAkeLob/Stellar-2.0?node-id=175%3A603

:root {
  /* Application Primary Colors (Default) */
  --stellar-color--light--primary: #4055a8;
  --stellar-color--light--primary--hover: #5c71c7;
  --stellar-color--dark--primary: #4c63b6; // TODO make this into Blue 60, etc
  --stellar-color--dark--primary--hover: #647acb;

  /* Grays */
  /* When used as text, these are accessible on white and the lightest gray (#F8F8F8). */
  --stellar-color--gray100: #1b1d1e;
  --stellar-color--gray90: #1f2223;
  --stellar-color--gray80: #293137;
  --stellar-color--gray70: #444c50;
  --stellar-color--gray60: #545f64;

  /* When used as text, these are accessible on black and the darkest gray (#1B1D1E). */
  --stellar-color--gray50: #969696;
  --stellar-color--gray40: #bcbcbc;
  --stellar-color--gray30: #bec0c2;
  --stellar-color--gray20: #ebecec;
  --stellar-color--gray15: #f1f2f3;
  --stellar-color--gray10: #f8f8f8;
}
/* Utility classes */
.stellar-color--bg--gray100 {
  background: var(--stellar-color--gray100);
}
.stellar-color--bg--gray90 {
  background: var(--stellar-color--gray90);
}
.stellar-color--bg--gray80 {
  background: var(--stellar-color--gray80);
}
.stellar-color--bg--gray70 {
  background: var(--stellar-color--gray70);
}
.stellar-color--bg--gray60 {
  background: var(--stellar-color--gray60);
}
.stellar-color--bg--gray50 {
  background: var(--stellar-color--gray50);
}
.stellar-color--bg--gray40 {
  background: var(--stellar-color--gray40);
}
.stellar-color--bg--gray30 {
  background: var(--stellar-color--gray30);
}
.stellar-color--bg--gray20 {
  background: var(--stellar-color--gray20);
}
.stellar-color--bg--gray15 {
  background: var(--stellar-color--gray15);
}
.stellar-color--bg--gray10 {
  background: var(--stellar-color--gray10);
}
.stellar-color--bg--primary--light {
  background: var(--stellar-color--light--primary);
}
.stellar-color--bg--primary--dark {
  background: var(--stellar-color--dark--primary);
}
.stellar-color--bg--primary--light--hover {
  background: var(--stellar-color--light--primary);
}
.stellar-color--bg--primary--dark--hover {
  background: var(--stellar-color--dark--primary);
}
