:root {
  --stellar-layout--gridUnit: 8px;
  --stellar-layout--gridUnit2x: calc(var(--stellar-layout--gridUnit) * 2);
  --stellar-layout--gridUnit3x: calc(var(--stellar-layout--gridUnit) * 3);
  --stellar-layout--gridUnit4x: calc(var(--stellar-layout--gridUnit) * 4);
  --stellar-layout--borderRadius: 4px;
}
.stellar-layout--gridSpacing--vertical--1 {
  height: var(--stellar-layout--gridUnit);
}
.stellar-layout--gridSpacing--vertical--2 {
  height: var(--stellar-layout--gridUnit2x);
}
.stellar-layout--gridSpacing--vertical--3 {
  height: var(--stellar-layout--gridUnit3x);
}
.stellar-layout--gridSpacing--vertical--4 {
  height: var(--stellar-layout--gridUnit4x);
}
