:root {
  // Label.
  --st-react-label-typography-line-height: 24px;
  --st-react-label-required-spacing: 2px;

  // Multiselect.
  --st-react-multiselect-background: var(--st-gray-10);
  --st-react-multiselect-border-radius: 4px;
  --st-react-multiselect-border-color: var(--st-gray-20);
  --st-react-multiselect-option-border-color: var(--st-gray-10);
  --st-react-multiselect-option-selected-border-color: var(--st-gray-20);
  --st-react-multiselect-option-selected-background-color: var(--st-white);
  --st-react-multiselect-option-selected-text-color: var(--st-gray-80);
  --st-react-multiselect-option-text-color: rgba(var(--st-gray-60-RGB), 0.65);

  // Dropdown.
  --st-react-dropdown-font-family: var(--st-typography-font-family);
  --st-react-dropdown-font-weight: var(--st-typography-body-font-weight);
  --st-react-dropdown-font-size: var(--st-typography-body-font-size);
  --st-react-dropdown-letter-spacing: var(--st-typography-body-letter-spacing);
  --st-react-dropdown-line-height: var(--st-typography-body-line-height);
  --st-react-dropdown-value-color: var(--st-gray-80);
  --st-react-dropdown-value-container-padding: 0 var(--st-grid-unit);
  --st-react-dropdown-value-container-flex-gap: calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-label-color: var(--st-gray-60);
  --st-react-dropdown-inner-label-color: var(--st-gray-60);
  --st-react-dropdown-control-color: var(--st-white);
  --st-react-dropdown-control-border: 1px solid var(--st-gray-20);
  --st-react-dropdown-control-min-height: calc(var(--st-grid-unit) * 3);
  --st-react-dropdown-control-hover-background-color: var(--st-gray-10);
  --st-react-dropdown-control-hover-border: 1px solid var(--st-gray-20);
  --st-react-dropdown-control-focus-box-shadow: 0px 0px 0px 1px #4d90fe;
  --st-react-dropdown-control-focus-open-box-shadow: 1px -1px 0px 0px #4d90fe,
    -1px 0px 0px 0px #4d90fe;
  --st-react-dropdown-menu-focus-box-shadow: 0px 1px 0px 0px #4d90fe,
    1px 0px 0px 0px #4d90fe, -1px 0px 0px 0px #4d90fe;
  --st-react-dropdown-placeholder-color: var(--st-gray-50);
  --st-react-dropdown-menu-background-color: var(--st-white);
  --st-react-dropdown-menu-border: 1px solid var(--st-gray-20);
  --st-react-dropdown-menu-border-radius: 0 0 calc(var(--st-grid-unit) / 2)
    calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-menu-list-padding-bottom: calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-menu-list-border-radius: calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-menu-list-box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
  --st-react-dropdown-menu-list-max-height: 310px;
  --st-react-dropdown-menu-list-background-color: var(--st-white);
  --st-react-dropdown-menu-no-options-label-color: var(--st-gray-50);
  --st-react-dropdown-indicator-padding: 0 var(--st-grid-unit);
  --st-react-dropdown-indicator-svg-width: var(--st-grid-unit2x);
  --st-react-dropdown-indicator-svg-height: var(--st-grid-unit2x);
  --st-react-dropdown-indicator-svg-color: var(--st-gray-60);
  --st-react-dropdown-input-container-color: var(--st-gray-80);
  --st-react-dropdown-option-margin: 0px calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-option-padding: calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-option-width: calc(100% - var(--st-grid-unit));
  --st-react-dropdown-option-border-radius: calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-option-focus-background-color: var(--st-gray-15);
  --st-react-dropdown-option-disabled-color: var(--st-gray-50);
  --st-react-dropdown-option-selected-background: inherit;
  --st-react-dropdown-option-selected-font-weight: 600;
  --st-react-dropdown-clear-indicator-color: var(--st-gray-60);
  --st-react-dropdown-clear-indicator-hover-color: var(--st-gray-100);
  --st-react-dropdown-multi-value-margin-right: calc(var(--st-grid-unit) / 2);
  --st-react-dropdown-multi-value-height: 18px;
  --st-react-dropdown-multi-value-background-color: var(--st-gray-20);
  --st-react-dropdown-multi-value-remove-width: 18px;

  // Modal.
  --st-react-modal-animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal
    none running contentShow;
  --st-react-modal-header-background-color: white;
  --st-react-modal-min-width: calc(var(--st-grid-unit) * 40);
  --st-react-modal-border-radius: 4px;
  --st-react-modal-border: 1px solid var(--st-gray-15);
  --st-react-modal-box-shadow: hsl(206deg 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0px 10px 20px -15px;
  --st-react-modal-header-border-bottom: 1px solid var(--st-gray-15);
  --st-react-modal-header-padding: var(--st-grid-unit) var(--st-grid-unit)
    var(--st-grid-unit) var(--st-grid-unit2x);
  --st-react-modal-content-background-color: white;
  --st-react-modal-action-row-background-color: var(--st-gray-10);
  --st-react-modal-action-row-padding: var(--st-grid-unit);
  --st-react-modal-action-row-border-top: 1px solid var(--st-gray-15);
  --st-react-modal-action-row-secondary-button-background: white;
  --st-react-modal-action-row-secondary-button-border: 1px solid
    var(--st-gray-20);
  --st-react-modal-action-row-secondary-button-hover-background: var(
    --st-gray-10
  );
  --st-react-modal-overlay-background-color: hsl(0 0% 0% / 0.439);
  --st-react-modal-overlay-animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1
    normal none running fadeIn;

  // Progress.
  --st-react-progress-height: var(--st-grid-unit);
  --st-react-progress-background: var(--st-gray-20);
  --st-react-progress-border-radius: 99999px;
  --st-react-progress-indicator-background: var(--st-blue);
  --st-react-progress-indicator-transition: width 450ms
    cubic-bezier(0.65, 0, 0.35, 1) 0s;

  // Popover.
  --st-react-popover-background: white;
  --st-react-popover-border-radius: 4px;
  --st-react-popover-border: 1px solid rgba(0, 0, 0, 0.16);
  --st-react-popover-padding: calc(var(--st-grid-unit) * 1.5);
  --st-react-popover-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.05))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));

  // Checkbox.
  --st-react-checkbox-label-color: var(--st-gray-60);
  --st-react-checkbox-label-hover-color: var(--st-gray-70);
  --st-react-checkbox-unchecked-border-color: var(--st-gray-50);
  --st-react-checkbox-unchecked-hover-border-color: var(--st-gray-60);
  --st-react-checkbox-checked-background: rgba(240, 228, 255, 0.24);
  --st-react-checkbox-checked-color: var(--st-primary-70);
  --st-react-checkbox-checked-border-color: var(--st-primary-70);
  --st-react-checkbox-checked-hover-background: rgba(240, 228, 255, 0.48);
  --st-react-checkbox-checked-hover-border-color: var(--st-primary-80);
  --st-react-checkbox-checked-hover-color: var(--st-primary-80);
  // --st-react-checkbox-color: var(--st-primary-50);
  // --st-react-checkbox-border: 1px solid gray;
  // --st-react-checkbox-label-color: var(--st-gray-60);

  // Tooltip.
  --st-react-tooltip-border-radius: calc(var(--st-grid-unit) / 2);
  --st-react-tooltip-padding: var(--st-grid-unit) var(--st-grid-unit3x);
  --st-react-tooltip-background-color: var(--st-white);
  --st-react-tooltip-box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  --st-react-tooltip-arrow-background-color: var(--st-white);
  --st-react-tooltip-animation-duration: 400ms;
  --st-react-tooltip-animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  --st-react-tooltip-animation-top: slideUpAndFade;
  --st-react-tooltip-animation-right: slideRightAndFade;
  --st-react-tooltip-animation-bottom: slideDownAndFade;
  --st-react-tooltip-animation-left: slideLeftAndFade;

  // Input.
  --st-react-input-font-family: var(--st-input-font-family);
  --st-react-input-font-size: var(--st-input-font-size);
  --st-react-input-font-weight: var(--st-input-font-weight);
  --st-react-input-line-height: var(--st-input-line-height);
  --st-react-input-letter-spacing: var(--st-input-letter-spacing);
  --st-react-input-background-color: var(--st-input-background-color);
  --st-react-input-border: var(--st-input-border);
  --st-react-input-border-radius: var(--st-input-border-radius, 4px);
  --st-react-input-color: var(--st-input-color);
  --st-react-input-padding: var(--st-input-padding);
  --st-react-input-placeholder-color: var(--st-input-placeholder-color);

  // Error.
  --st-react-error-font-family: var(--st-typography-label-font-family);
  --st-react-error-font-weight: var(--st-typography-label-font-weight);
  --st-react-error-font-size: var(--st-typography-label-font-size);
  --st-react-error-line-height: var(--st-typography-label-line-height);
  --st-react-error-letter-spacing: var(--st-typography-label-letter-spacing);
  --st-react-error-color: var(--st-error-red);
  --st-react-error-spacing: 2px;

  // FormField.
  --st-react-formfield-horizontal-grid-unit: 4px;
  --st-react-formfield-vertical-grid-unit: 2px;
}
