:root {
  // Multiselect.
  --st-react-multiselect-background: var(--st-gray-10);
  --st-react-multiselect-border-radius: 4px;
  --st-react-multiselect-border-color: var(--st-gray-20);
  --st-react-multiselect-option-border-color: var(--st-gray-10);
  --st-react-multiselect-option-selected-border-color: var(--st-gray-20);
  --st-react-multiselect-option-selected-background-color: var(--st-white);
  --st-react-multiselect-option-selected-text-color: var(--st-gray-80);
  --st-react-multiselect-option-text-color: rgba(var(--st-gray-60-RGB), 0.65);
}
